body {
	/*background-color:white;
	/*text-align: center;*/
	 font-family: "Times New Roman", Times, serif;
	color: rgb(40, 40, 40);

	/* background-image: url("bg4.jpg");
	 background-repeat: no-repeat;
	   background-size: 100%*/
}



header, footer {
	padding: 0em;
	/*color: white;
	background-color:white;
	clear: left;*/
	
}

h1 {


border: 1px solid black;
 font-size: 5.5em;
 letter-spacing: 0.15em;


}




/*Container for all of text: title, tag, nav*/
.textContainer {
	
	
	width: 50%;
	height: 45%;


	position: absolute;
	margin: 0 auto;
	margin-left: 25%;
	margin-top: 15%;
	margin-right: 25%;
	margin-bottom: 25%;
	text-align: center;
	z-index: 1;

	background-color: rgba(235, 235, 235, .25);
	
	


}



.title {

width: 95%;
margin-left:2.5%;
margin-right:2.5%;

background-color: rgb(235, 235, 235);



}

.tag {
	
	
	border: 1px solid black;
	width: 80%;
	margin-top: -2em;
	margin-left: 10%;
	margin-right: 10%;

	padding-top: 1em;
	padding-bottom: 1em;
	background-color: rgb(235, 235, 235);
}


nav {
/*width = 100%;*/
margin: 1em;
color: black;
 font-size: 1.5em;

}

.tiles {

width: 100%;

text-align: center;
margin: 0 auto;


position: static;
 border: 1px solid black;

/*border: 1px solid black;*/


}

img.left {

	margin-left: 0%;
	margin-right: 2.5%;

	/*padding-bottom: 25%;*/

}

img.center {

margin-left: 5%;
margin-right: 5%;
/*padding-bottom: 25%;*/

}

img.right {

margin-left: 2.5%;
padding-right: 0%;

/*padding-bottom: 25%;*/

}


img {
margin-top: 2em;
max-width: 50%;
min-width: 10%;
max-height: 95%;
height: auto;
z-index: -1;



}

img:hover {


opacity: 0.5;
    filter: alpha(opacity=100); /* For IE8 and earlier */

}



/* unvisited link */

.linkHolder {


width: 20px;
border: 1px solid black;
text-align: center;

}

li {


display: inline-block;
border: 1px solid black;
background-color: rgb(235, 235, 235);
margin-bottom: -10em;
padding-bottom: -10em;

}
/*
a:link {
font-size: 1em;
text-decoration: none;


color: black;

}*/


a.green:hover { color: #1ace84;
border: 1px solid black; }
a.purple:hover { color: #a262c0;
border: 1px solid black;  }
a.teal:hover { color: #4ac0aa; 
border: 1px solid black; }
a.violet:hover { color: #8c78ba; 
border: 1px solid black; }
a.pink:hover { color: #d529cd;
border: 1px solid black;  }




a {


padding: 1em;



}
/* visited link */

a:visited {
    color: black;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */

a:active {
    color: white;
}

ul {

	list-style-type: none;
    margin: 0;

    padding: 0;
}





/*PROJECT PAGE*/

div.projectsContainer {




}

div.gallery {
	border:1px solid black;
}

div.gallery:hover {
	border:1px solid black;
}

div.gallery img {
	width: 100%;
	height: auto;
}

/*description*/
div.desc {
	padding:15px;
	text-align:center;
}

* {
	box-sizing: border-box;
}

.responsive {
	padding: 0 6px;
	float: left;
	width: 24.99999%;
}


@media only screen and (max-width: 700px){
    .responsive {

        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}


